#dataset images
dataset
model 

#javascript node modules and linter
javascript/node_modules
javascript/.jshintrc

Eyes_direction_classifications_in_simulator-generated_faces.zip
Presentazione_CV&DL.pptx
~$Presentazione_CV&DL.pptx

#don't understand what is it :')
.DS_Store
.vscode