#dataset images
dataset

#javascript node modules and linter
javascript/node_modules

#json containing bounding boxes and eyes tracking coords
json

#python 
python/__pycache__
python/utils.py

#modifiable files
readme_materials/files/2329.eps
readme_materials/files/map.psd
Presentazione.pptx
~$Presentazione.pptx

#don't understand what is it :')
.DS_Store
.vscode