#dataset images
dataset

#javascript node modules and linter
javascript/node_modules
javascript/.jshintrc

#python 
python/__pycache__

#modifiable files
readme_materials/files/2329.eps
readme_materials/files/map.psd
readme_materials/files/logo.psd
Presentazione.pptx
~$Presentazione.pptx

#don't understand what is it :')
.DS_Store
.vscode